.categoryContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  width: 100%;
}

.categoryContainer table,
.categoryContainer th,
.categoryContainer td {
  border: 1px solid black;
}

.categoryContainer th,
.categoryContainer td {
  padding: 20px 1rem;
  text-align: center;
}
.categoryContainer table {
  border-collapse: collapse;
  min-width: 375px;
  width: 40%;
}
.buttonsContainer {
  display: flex;
  justify-content: space-around;
  border: 1px solid black !important;
}
.categoryContainer form {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  /* background-color: #3e8e41; */
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 1rem;
}
