.container-profit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  height: 50vh;
  width: 80vw;
  margin-bottom: 9%;
}

.card-profit {
  background-color: #4F7439;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 25px;
}

.card-header {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.card-body {
  margin-bottom: 20px;
}

.prof-label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
}

.profit-input {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  color: #4F7439;
  font-size: 20px;
  font-weight: bold;
}

.progress {
  background-color: #f5f5f5;
  border-radius: 15px;
  height: 30px;
  margin-top: 30px;
  overflow: hidden;
}

.progress-bar {
  background-color:#80D250;
  height: 100%;
}

.progress_label {
  position: absolute;
  font-size: 16px;
  margin-left: 10px;
  color: #fff;
}
.card-body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}
.inc{
  color: #80D250;
  font-weight: bold;
}
.exp{
  color: red;
  font-weight: bold;
}
.tot{
  color: #fff;
  font-weight: bold;
}